.container {
  margin-bottom: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}

body {
  font-family: 'Montserrat';
}

.carousel-item h6 {
  margin: 3% 0 4%;
  color: gray;
}

button {
  padding: 5px 10px;

  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.heading a {
  color: #FFA332;
}

p {
  color: gray;
  font-size: 14px;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: white;
  border-top: none;
}

.card {
  box-shadow: 5px 5px 10px gray;
}

.card img {
  width: 80%;
  margin: 0 auto;
}

.catagories .row {
  height: 600px;
}

.bag {
  box-shadow: 5px 5px 10px gray;
}

.navigation a {
  font-size: 18px;
  font-weight: 650;

}

.pale-order img {
  margin-top: 240px;
}
